@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/************** Partie Commune *****************/
* {
    font-family: Raleway, sans-serif;
} 


body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 40px 40px 40px;
}

h1 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

.detail {
    font-size: 18px;
    font-weight: bold;
}

.cliquable {
    text-decoration: none;
    color: black;
}

[class^="svg-inline--fa"] {
    color: #0065fc
  
  }

/************** Partie HEADER *****************/

header {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.logo {
    height: 19px;
    width: auto;
}

nav {
    display: flex;
    justify-content: center;
}

 nav a {
    padding: 46px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size : 16px;  
} 

nav a:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
    font-weight: 500;
    padding: 44px;
}

/************** Partie SECTION - Formulaire de recherche *****************/

.formRecherche {
 display: flex;
 width: 75%;
 flex-direction: column;
}

.h1section1 {
    margin-bottom: 2px;
}

.detailh1 {
    margin-top: 5px;
    font-weight: normal;
    font-size:16px;
}

.iconeEtChamps {
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#gps {
    padding: 18px;
    width: 14px;
    height: 18px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    color : black
}

.champs {
    font-weight: 700;
    font-size: 18px;
    border-left: none;
    border-right: none;
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    padding: 14px;
}

.champs::placeholder {
    color: black;
}

.recherche {
    color: white;
    background-color: #0065FC;
    border:none;
    border-radius: 0px 10px 10px 0px;
    padding : 14px;
    font-weight: 700;
    font-size: 18px;
}

#loupe {
    display: none;
}

/************** Partie SECTION - Filtres de recherche *****************/

.filtres {
    display: flex;
    flex-direction: row;
    margin: 40px 0px 40px 0px;
}

.filtres p {
    margin-right: 10px;
}

.boutonsConteneur {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.boutonsConteneur button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 35px;
    border: 2px #D9D9D9 solid;
    padding: 0px 20px 0px 20px;
    background-color: #ffffff;
}

.boutonsConteneur button:hover {
    background-color: #DEEBFF;
}

.iconeFiltre:not(#humain) {
    width: 22px;
    height: auto;
}

#humain {
    height: 22px;
}

.nomFiltre {
    padding: 5px 0px 5px 10px;
    margin: 1px;
    font-size: 17px;
    font-weight: 700;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

}

#imageInfo {
    border : 1px #D9D9D9 solid;
    padding: 6px 11px 6px 11px;
    border-radius: 50px;
}

.info p {
    margin: 10px ;
}

/************** Partie SECTION - Tous les hébergements *****************/

.hebergementEtPop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titreLogEtAct{
    font-size: 22px;

}

.etoiles {
    display: flex;
    flex-direction: row;
}

.etoiles [class^="svg-inline--fa"] {
    height: 12px;
}

.etoileVide {
    color: #F2F2F2;
}



/* Sous-Partie - hébergement*/

.cardHebergements {
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 0px 0px 20px; 
}

.cardHebergements .titreLogEtAct {
    margin-left: 10px;
}

.cardHebergements h3 {
    margin: 5px;
    font-size: 16px;
}

.cardHebergements .detail {
    display: flex;
    margin: 18px 0px 18px 10px;

}

.contImgHebergement {
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;

}

.contImgHebergement .cliquable {
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: #ffffff;
}

.unHebergement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0%;
}

.unHebergement img {
    height: 124px;
    width: 96%; 
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    margin: 5px;
}

.legHebergement {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}


.legHebergement p {
    font-size: 14px;
    margin: 5px;
}

.legHebergement div {
    display: flex;
    margin: 5px;
}


/* Sous-Partie - Les populaires */

.cardPop {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top: 20px;
    
}

.titrePop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.contImgPop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
    height: 100%;

}

.contImgPop .cliquable {
    display: flex;
    flex-direction: row;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    background-color: #ffffff;
}

.unPop {

    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0%;
}

.unPop img {
 width: 40%;
 height: 144px;
 border-radius: 20px 0px 0px 20px ;
 object-fit: cover;
 margin: 5px;
}

.legPop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width: 60%;
    margin: 5px;
} 

.legPop h3 {
    margin: 3px 0px 5px 0px;
    font-size: 16px;
}

.legPop p {
    font-size: 14px;
    margin: 8px 0px 3px 0px;
}


/************** Partie SECTION - Les activités *****************/

.activites {
    width: 100%;
    margin-top: 40px;
}

.contImgAct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contImgAct .cliquable {
    width: 22%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 0px;
}

.uneAct {
    margin: 0px; 
    display: flex;
    flex-direction: column;
    width: 100%;
}

.uneAct img {
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.uneAct h3 {
    font-size: 16px;
    margin: 20px; 
  }

  /************** Partie footer *****************/
  
footer {
    background-color: #F2F2F2;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

ul {
    margin: 40px;
    padding-left: 0px;
    width: 25%;
}

li {
    list-style-type: none;
    margin: 10px 
}

.titreListe {
    font-size: 18px;
    font-weight: 700;
}

 /************** Responsive pour tablettes *****************/

 @media all and (min-width: 768px) and (max-width: 992px ) {
    
    .formRecherche {
        width: 100%;
    }
        
    .hebergementEtPop {

        flex-direction: column;
    }

    .cardHebergements {
        width: 100%;
        }
  
    #ancreHeb {
        margin-left: 30px;
        }
    
    .contImgHebergement {
        justify-content: space-evenly;
        width: 95%; 
    }

    .contImgHebergement .cliquable {
        width: 28%;
    }


    .contImgPop {
    flex-direction: row;
    width: 95%;
    }

    .cardPop {
    width: 100%;
    margin-top: 30px;
    padding: 10px 10px 30px 10px;

    }

    .contImgPop .cliquable {
        width: 28%;
    }

    .unPop img {
        width: 35%;
    }

    .titrePop {
        width: 91%;
    }

    .legPop h3 {
        margin-right: 15px;
        font-size: 14px;
    }

    .legPop p {
        font-size: 13px;
    }

    .uneAct img {
        height: 210px;
    }

}

    /************** Responsive pour smartphone *****************/

    @media all and (max-width: 768px ) {

        body {
            padding: 0%;
        }

     /* Header */

        header {
            flex-direction: column;
        }

        .logo {
            margin: 40px;
        }

        nav {
            width: 100%;
            display: flex;
            align-items: center;
        }

        nav a {
            padding: 23px 0px 23px 0px;
            width: 50%;
            display: flex;
            justify-content: center;
        }

        nav a:hover {
            border-bottom: 2px #0065FC solid;
            border-top: none;
            padding: 23px 0px 21px 0px;
        }

    /* Formulaire de recherche */

        .formRecherche {
            width: 93%;
            margin: 0 auto;
        }
        
        .formRecherche h1 {
            padding-right :10px;
        }
        form {
            justify-content: space-around;
        }

        #loupe {
            display: block;
            color: #ffffff;
            height: 17px;
        }

        .recherche span {
            display: none;
        }

    /* Filtres de recherche */
    

        .filtres {
            flex-direction: column;
        }

        .boutonsConteneur {
            flex-wrap: wrap;
        }

         .boutonsConteneur button {
            width: 44%;
            margin: 10px 0px 10px 0px;
            padding: 0px 5px 0px 10px;
        } 

        .nomFiltre {
            font-size: 11px;
            padding: 15px 0px 15px 5px;
        }

    /* Section - Tous hebergements */

        .hebergementEtPop {
            flex-direction: column;
        }    

     /* Juste les plus populaires */

        .cardPop {
            order: 1;
            width: 100%;
            padding-bottom: 20px;
            border-radius: 0px;
        }

    /* Les autres hebergements */

        #ancreHeb {
            margin-left: 8%;
        }

        .cardHebergements {
            order:2;
            width: 100%;
            background-color: #ffffff;
            padding: 0%;
            margin-top: 10px;
        }

        .contImgHebergement {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }

        .contImgHebergement .cliquable {
            width: 85%;
        }

        .detail {
            display: none;
        }

    /* Les activités */

        #ancreAct {
            width: 35%;
            margin-left: 10%;
        }
        
        .contImgAct {
            flex-direction: column;
            align-items: center;
        }

        .contImgAct .cliquable {
            width: 85%;
            margin-bottom: 30px;
        }

        .uneAct img {
            height: 134px;
        }

    /* Partie footer */

        footer {
            flex-direction: column;
        }

        ul {
            width: 70%;
        }

    }